/*   font / background colors   */

//$btn: ;                 //
//$basic: ;               //

$color-1: #fff;           // White.
$color-2: #000;           // Black.
$color-3: #910000;        // Dark red.        rgb(145,0,0)
$color-4: #515151;        // Very dark gray.  rgb(81,81,81)