.logo
	a(href="#")
		ul.logo__text
			li L
			li o
			li g
			li o
ul.language
	li.language__item.language__item--active
		img(src="./img/uk.png" alt="")
	li.language__item
		img(src="./img/fr.png" alt="")
	li.language__item
		img(src="./img/de.png" alt="")

.mob-menu-trigger
nav.main-nav
	.mob-menu-close
		span
	mixin mainMenu(data)
		ul.menu
			each item in data.items
				li.menu__item
					a(href="#")= item.title
					if item.sublevel
						ul.submenu
							each item in subdata.items
								li.submenu__item
									a(href="#")= item.title


	- var data = {"items": [{"title": "Home"}, {"title": "Sports"}, {"title": "Casino"}, {"title": "Games", "sublevel": true, "items": [{"title": "Mega Moolah"}, {"title": "The curse of thhe blackPearl"}, {"title": "Super slots attack"} ] }] };
	- var subdata = {"items": [{"title": "Mega Moolah"}, {"title": "The curse of thhe black Pearl"}, {"title": "Super slots attack"}] }

	+mainMenu(data)