.logo
	a(href="#")
		ul.logo__text
			li L
			li o
			li g
			li o
ul.language
	li.language__item.language__item--active
		img(src="./img/uk.png" alt="")
	li.language__item
		img(src="./img/fr.png" alt="")
	li.language__item
		img(src="./img/de.png" alt="")

.mob-menu-trigger

- var menus = [{text: 'Home', link: '#'}, {text: 'Sports', link: '#'}, {text: 'Casino', link: '#'}, {text: 'Games', submenu:true }];
- var submenu = [{text: 'Mega Moolah', link: '#'}, {text: 'The curse of thhe blackPearl', link: '#'}, {text: 'The curse of thhe blackPearl', link: '#'}];

nav.main-nav
	each list in menus
		a(href="#" class="menu__item")= list.text
			if list.submenu
				//- .submenu
				each list in submenu
					a(href="#" class="submenu__item")= list.text
	.mob-menu-close
		span
